*
{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory ;
}

.container .section {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    /* Overlay color */
    /* background-blend-mode: multiply; */
}

.container .section:nth-child(1){
    background: #ffff url('https://images.unsplash.com/photo-1520854221256-17451cc331bf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(2){
    background: #ffff url('https://images.unsplash.com/photo-1519741497674-611481863552?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-size: cover;
    background-attachment: fixed;
}


.container .section:nth-child(3){
    background: #ffff url('https://images.unsplash.com/photo-1460978812857-470ed1c77af0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=858&q=80');
    background-size: cover;
    background-attachment: fixed;
}


.container .section:nth-child(4){
    background: #ffff url('https://images.unsplash.com/photo-1520854221256-17451cc331bf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-size: cover;
    background-attachment: fixed;
}

.container .section .content h2 {
    color: aliceblue;
}